@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .badge-blink {
    animation: blink 1s infinite;
  }
  .table-row-light {
    background-color: white;
  }
  
  .table-row-dark {
    background-color: #f0f0f042;
  }
  .column-cell {
    border-right: 1px solid rgba(4, 73, 175,0.1);
    font-size: 16px;
  }

 
      
  .file-name {
    color: darkblue;
    cursor: pointer;
  }
  
  .file-name:hover {
    text-decoration: underline;
  }

  .custom-modal {
    width: 900px !important;
    margin-top: -60px;
  }
  .pdf-content {
    transform: scale(1.3); /* Ajustez la valeur de l'échelle selon vos besoins */
    transform-origin: top left; /* Définit le point d'origine de la transformation */
  }
  .questionnaire-responses-table {
    font-size: 16px;
  }

  .custom-table {
    position: relative;
    z-index: 1; /* Réglez le z-index du tableau à une valeur supérieure au modal */
  }
  
  
  
  
  